// Define Sass variables
$Neon: #00FFA1;
$Blacky: #040D12;
$Darkgreen: #183D3D;
$Green: #5C8374;
$Grey: #93B1A6;



.app {
    position: relative;
  }
  
  .content {
    margin-top: ""; // Adjust this value to match the height of your AppBar
  }