$Neon: #00FFA1; //rgb(0,255,161)
$blacky: #040D12; //rgb(4,13,18)
$darkgreen: #183D3D; //rgb(24,61,61)
$blue: #000F1A; //rgb(0,15,26)
$green: #5C8374; //rgb(92,131,116)
$grey: #93B1A6; //rgb(147,177,166)


.buttones::after {
    content: "";
    position: absolute;
    top: calc(var(--y, 0) * 1px);
    left: calc(var(--x, 0) * 1px);

    width: 5px;
    height: 30px;
    background: radial-gradient(white, #00FFA1 90%);
  
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .buttones:hover::after {
    opacity: 50;
  }

// ----------------------------
.ninjalogodesign {
    padding-top: 10px;;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 25px;
    line-height: 60px;
    color: #fff;
    box-sizing: border-box;
    background-size: 500%;
    border-radius: 50%;
    z-index: 1;
  }
  .ninjalogodesign:hover {
    animation: animate 8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  .ninjalogodesign:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: radial-gradient(
      $Neon, 
      hsl(200 100% 60%) 
    ) fixed;
    background: conic-gradient(
      $Neon, 
      hsl(200, 51%, 42%), 
      $Neon 
    ) fixed;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5%;
  }
  .ninjalogodesign:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }
  
