// Define Sass variables
$Neon: #00FFA1;
$Blacky: #040D12;
$Darkgreen: #183D3D;
$Green: #5C8374;
$Grey: #93B1A6;

body {
  background-color: $Darkgreen; // Use the variable here
}

.body {
  background-color: $Darkgreen; // Use the variable here
  color: #{$Neon};
}

.custom-shape-divider-top-1698334611 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698334611 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1698334611 .shape-fill {
  fill: #0f3030;
}


/* Add your other styles here */
